.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*** CUSTOM ***/


.app-slogan {
  font-weight: 400!important;
}

.no-decoration {
  text-decoration: none!important;
  /*color: inherit!important;*/
}

.color-primary {
  color: #29353D;
}

.app-title {
  font-weight: 500!important;
}

.quiz-card {
  padding: 25px;
}

.quiz-lyrics{
  font-size: 25px!important;
  font-weight: 500!important;;
}

@media screen and (min-width: 800px) {
  
  .app-slogan{
    font-size: 2vw!important;
  }
  .app-title {
    font-size: 8vw!important;
  }
  .section-desktop{
    display: flex!important;
  }
  .section-mobile{
    display: none!important;
  }
}


@media screen and (max-width: 800px) {

  .app-slogan{
    font-size: 5vw!important;
  }

  .app-title {
    font-size: 14vw!important;
  }
  .section-mobile{
    display: flex!important;
  }
  .section-desktop {
    display: none!important;
  }
}


